<h1>Invoice <%= @invoice.id %> (Merchant <%= @merchant.name %>)</h1>

Status: <%= @invoice.status %><br>
Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %><br>
Customer: <%= @invoice.customer.full_name %><br>
Total Merchant Revenue for this Invoice:
  <%= number_to_currency(@invoice.total_item_revenue_by_merchant(@merchant.id).fdiv(100)) %><br>
Total Merchant Revenue After Discounts for this Invoice:
   <%= number_to_currency((@invoice.total_item_revenue_by_merchant(@merchant.id).fdiv(100)) - (@invoice.total_discounts(@invoice.id, @merchant.id))) %>

<h3>Items</h3>
<% @invoice.items.each do |item| %>
  <div id="item-<%= item.id %>">
    <% if item.merchant == @merchant %>
      Item name: <%= item.name %><br>
      <% @invoice.invoice_items.each do |inv_item| %>
        <% if item.id == inv_item.item_id %>
          Quantity sold: <%= inv_item.quantity %><br>
          Selling price: <%= number_to_currency(inv_item.unit_price.fdiv(100)) %>

          Status: <%= form_with model: [@merchant, inv_item], local: true do |f| %>
            <%= f.select :status, %w[shipped packaged pending], selected: inv_item.status %>
            <%= f.submit 'Update Item Status' %>
          <% end %>

          <% if inv_item.discount_applied.nil? == false %>
            <%= link_to "View Discount", merchant_bulk_discount_path(@merchant, "#{inv_item.discount_applied.id}") %>
          <% end %><br>

          Item Total Discounts: <%= inv_item.items_disc.round(2) %>
          <hr>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %><br>
